@media (max-width: 950px) {
    header{
        grid-template-columns: 30% 70%;
    }
    
    header .menu-icon {
        text-align: right;
        padding: 0% 10% 0% 0%;
        display: block;
    }

    header .center, header .right{
        display: none;
    }

    header .left-header {
        font-size: 10px;
        padding: 0% 0% 0% 30%;
        place-content: center;
    }

    header .left img {
        width: 60px;
    }

    header .main-title {
        display: none;
    }


}
