@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    align-items: center;
    background-color: #312E4B;
    color: white;    
    height: 100px;
}

header .left-header{
margin-top: 10px;
}

header button, .none {
    all: unset;
}

header .menu-icon, .side-menu {
    display: none;
}

header .left-header {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    padding: 0% 10% 0% 0%;
}
header .left-header h2 {
    padding: 0% 0% 0% 0%;
}

header .center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 0% 10%;
}

header .right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}

header .right :hover{
    color: #8688ad;
    border-bottom: #8688ad;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8688ad;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    color:#8688ad;
    transform-origin: bottom left;
  }


.footer {
    background-color: #312E4B;
    color: white;
}
